[submodule "Wing/vendor/spdlog"]
	path = Wing/vendor/spdlog
	url = https://gitee.com/xhguleixin123/spdlog.git
[submodule "Wing/vendor/GLFW"]
	path = Wing/vendor/GLFW
	url = https://gitee.com/xhguleixin123/glfw.git
[submodule "Wing/vendor/imgui"]
	path = Wing/vendor/imgui
	url = https://gitee.com/xhguleixin123/imgui.git
